<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gdsc.netwalk.business.user.mapper.UserMapper">

    <insert id="registerUser" parameterType="HashMap" useGeneratedKeys="true" keyProperty="user_no">
		<![CDATA[
			INSERT INTO USER_TB
				(
					USER_NO,
					NAME,
					EMAIL,
					REG_GB,
					REG_DT,
					MOD_DT
				)
			VALUES
				(
					#{user_no},
					#{name},
					#{email},
					#{reg_gb},
					NOW(),
					NOW()
				)
        ]]>
	</insert>

    <select id="selectUserByEmail" parameterType="HashMap" resultType="HashMap">
		<![CDATA[
			SELECT
				EMAIL
			FROM
				USER_TB
			WHERE
				EMAIL = #{email}
        ]]>
	</select>
</mapper>